.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    background-color: #142d4c;
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10%;
}

.username {
    margin: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.nav-links li {
    margin-bottom: 10px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}